<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin sản phẩm list</title>
    <link
            rel="shortcut icon"
            href="../../images/Logo_Ananas_Header.svg"
            type="image/x-icon"
    />
    <!-- THEME -->
    <link
            rel="stylesheet"
            href="../../libs/bootstrap-4.5.0-dist/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="../../libs/fontawesome-free-5.13.0-web/css/all.css"
    />
    <link rel="stylesheet" href="../../themes/css/main.css" />
    <link rel="stylesheet" href="../../themes/css/style_section.css">
    <link rel="stylesheet" href="../../themes/css/admin.css">
    <!-- JS -->
    <script src="../../libs/jquery/jquery-3.5.1.slim.js"></script>
    <script src="../../libs/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="../../themes/js/main.js"></script>

    <script src="../../libs/lib/typeahead.bundle.min.js"  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../libs/lib/datatables.min.css">
    <script src="../../libs/lib/datatables.min.js"> </script>



</head>
<body>
<!-- header -->
<header>
    <div class="container-fluid">
        <div id="top-head">
            <div class="container">
                <div class="d-flex">
                    <div class="col-md-4 col-sm-0"></div>
                    <div class="col-md-8 col-sm-12">
                        <ul class="d-flex">
                            <li>
                                <img src="../../images/icon_dang_nhap.png" alt="" />
                                <a href="#" data-toggle="modal" data-target="#funct_login">
                                    <span id="get_name_user">Admin</span>
                                </a>
                            </li>
                            <li>
                                <img src="../../images/icon_tra_cuu_don_hang.png" alt="" />
                                <a href="#">Tra cứu đơn hàng</a>
                            </li>
                            <li>
                                <img src="../../images/icon_tim_cua_hang.png" alt="" />
                                <a href="#">Tìm cửa hàng</a>
                            </li>
                            <li>
                                <img src="../../images/icon_heart_header.png" alt="" />
                                <a href="#">Yêu thích</a>
                            </li>
                            <li>
                                <img src="../../images/icon_gio_hang.png" alt="" />
                                <a href="#">Giỏ hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar" class="bg-light">
            <div class="container">
                <div class="d-flex">
                    <div class="col-md-2 d-flex justify-content-center">
                        <a href="trang-chu.html">
                            <img src="../../images/Logo_Ananas_Header.png" alt="" />
                        </a>
                    </div>
                    <div class="col-md-7">
                        <ul class="menu d-flex">
                            <li class="menu-item">
                                <a href="#" class="d-flex">
                                    <h4>SẢN PHẨM</h4>
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <div class="menu-sub menu-sub--product">
                                    <div class="container">
                                        <ul class="d-flex">
                                            <li>
                                                <a href="">
                                                    <div class="card">
                                                        <img
                                                                src="../../images/Menu_Nam.jpg"
                                                                alt=""
                                                                class="card__image"
                                                        />
                                                        <div class="card__content">CHO NAM</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="card">
                                                        <img
                                                                src="../../images/Menu_Nu.jpg"
                                                                alt=""
                                                                class="card__image"
                                                        />
                                                        <div class="card__content">CHO NỮ</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="card">
                                                        <img
                                                                src="../../images/Menu_Sale-off.jpg"
                                                                alt=""
                                                                class="card__image"
                                                        />
                                                        <div class="card__content">OUTLET SALE</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="">
                                                    <div class="card">
                                                        <img
                                                                src="../../images/Menu_Phu-kien.jpg"
                                                                alt=""
                                                                class="card__image"
                                                        />
                                                        <div class="card__content">
                                                            THỜI TRANG & PHỤ KIỆN
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="d-flex">
                                    <h4>NAM</h4>
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <div class="menu-sub menu-sub--male">
                                    <div class="container container--w">
                                        <div class="d-flex my-3">
                                            <div class="col-md-4 col-sm-12">
                                                <div class="box box--devide">
                                                    <h3>
                                                        <a href="#">NỔI BẬT</a>
                                                    </h3>
                                                    <div class="box__group">
                                                        <ul>
                                                            <li><a href="">Best Seller</a></li>
                                                            <li><a href="">New Arrival</a></li>
                                                            <li><a href="">Sale off</a></li>
                                                        </ul>
                                                        <div>
                                                            <div href="#" class="line_head">Tất cả giày</div>
                                                            <a href="">Pineapple x Lucky Luke</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-12 ml-5">
                                                <div class="d-flex">
                                                    <div class="col-md-6">
                                                        <div class="box">
                                                            <h3>
                                                                <a href="#">GIÀY</a>
                                                            </h3>
                                                            <div class="box__group">
                                                                <ul>
                                                                    <li class="line_head">Dòng sản phẩm</li>
                                                                    <li><a href="">Basas</a></li>
                                                                    <li><a href="">Vintas</a></li>
                                                                    <li><a href="">Urbas</a></li>
                                                                    <li><a href="">Pattas</a></li>
                                                                    <li><a href="">Track 6</a></li>
                                                                </ul>
                                                                <ul>
                                                                    <li class="line_head">Style</li>
                                                                    <li><a href="">High Top</a></li>
                                                                    <li><a href="">Low Top</a></li>
                                                                    <li><a href="">Slip-on</a></li>
                                                                </ul>
                                                                <a href="#" class="line_head">Tất cả giày</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box">
                                                            <h3>
                                                                <a href="#">THỜI TRANG & PHỤ KIỆN</a>
                                                            </h3>
                                                            <div class="box__group">
                                                                <ul>
                                                                    <li class="line_head">Nửa trên</li>
                                                                    <li><a href="">Basic Tee</a></li>
                                                                    <li><a href="">Sweetshirt</a></li>
                                                                    <li><a href="">Hoodie</a></li>
                                                                </ul>
                                                                <ul>
                                                                    <li class="line_head">Phụ kiện</li>
                                                                    <li><a href="">Nón</a></li>
                                                                    <li><a href="">Dây giày</a></li>
                                                                    <li><a href="">Vớ</a></li>
                                                                </ul>
                                                                <a href="#" class="line_head">Tất cả giày</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="cameo">--------------------mọi người thường gọi chúng tôi là <span class="color--orange">dứa</span>!--------------------</a>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="d-flex">
                                    <h4>NỮ</h4>
                                    <i class="fas fa-chevron-down"></i>
                                </a>
                                <div class="menu-sub menu-sub--female">
                                    <div class="container container--w">
                                        <div class="d-flex my-3">
                                            <div class="col-md-4 col-sm-12">
                                                <div class="box box--devide">
                                                    <h3>
                                                        <a href="#">NỔI BẬT</a>
                                                    </h3>
                                                    <div class="box__group">
                                                        <ul>
                                                            <li><a href="">Best Seller</a></li>
                                                            <li><a href="">New Arrival</a></li>
                                                            <li><a href="">Sale off</a></li>
                                                        </ul>
                                                        <div>
                                                            <div href="#" class="line_head">Tất cả giày</div>
                                                            <a href="">Pineapple x Lucky Luke</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 col-sm-12 ml-5">
                                                <div class="d-flex">
                                                    <div class="col-md-6">
                                                        <div class="box">
                                                            <h3>
                                                                <a href="#">GIÀY</a>
                                                            </h3>
                                                            <div class="box__group">
                                                                <ul>
                                                                    <li class="line_head">Dòng sản phẩm</li>
                                                                    <li><a href="">Basas</a></li>
                                                                    <li><a href="">Vintas</a></li>
                                                                    <li><a href="">Urbas</a></li>
                                                                    <li><a href="">Pattas</a></li>
                                                                    <li><a href="">Track 6</a></li>
                                                                </ul>
                                                                <ul>
                                                                    <li class="line_head">Style</li>
                                                                    <li><a href="">High Top</a></li>
                                                                    <li><a href="">Low Top</a></li>
                                                                    <li><a href="">Slip-on</a></li>
                                                                </ul>
                                                                <a href="#" class="line_head">Tất cả giày</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box">
                                                            <h3>
                                                                <a href="#">THỜI TRANG & PHỤ KIỆN</a>
                                                            </h3>
                                                            <div class="box__group">
                                                                <ul>
                                                                    <li class="line_head">Nửa trên</li>
                                                                    <li><a href="">Basic Tee</a></li>
                                                                    <li><a href="">Sweetshirt</a></li>
                                                                    <li><a href="">Hoodie</a></li>
                                                                </ul>
                                                                <ul>
                                                                    <li class="line_head">Phụ kiện</li>
                                                                    <li><a href="">Nón</a></li>
                                                                    <li><a href="">Dây giày</a></li>
                                                                    <li><a href="">Vớ</a></li>
                                                                </ul>
                                                                <a href="#" class="line_head">Tất cả giày</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#" class="cameo">--------------------mọi người thường gọi chúng tôi là <span class="color--orange">dứa</span>!--------------------</a>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="d-flex">
                                    <h4>SALE OFF</h4>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="d-flex">
                                    <img src="../../images/DiscoverYOU.png" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <form id="searchBox">
                            <div class="form-group d-flex">
                                <input
                                        type="text"
                                        name="searchInput"
                                        id="searchInput"
                                        class="form-control"
                                        placeholder="Bạn cần tìm..."
                                        aria-describedby="helpId"
                                />
                                <button id="searchBtn">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="section_banner">
    <div id="ruleCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <a class="carousel-item active">
                free shipping hoá đơn từ 800k!
            </a>
            <a class="carousel-item">
                hàng 2 tuần nhận đổi - giày nữa năm bảo hành
            </a>
            <a class="carousel-item">
                buy more pay less - áp dụng khi mua phụ kiện
            </a>
        </div>
        <a class="carousel-control-prev" href="#ruleCarousel" role="button" data-slide="prev">
            <!-- carousel-control-prev-icon -->
            <span class="fas fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#ruleCarousel" role="button" data-slide="next">
            <span class="fas fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!--main-->
<section id="section_contentAdmin">
    <div class="container_admin">
        <div class="row p-3">
            <div class="sidebar col-md-2 lstMenu-left" >
                <h5 class="mt-4 mb-4"><i class="fas fa-tachometer-alt mr-2"></i> BẢNG ĐIỀU KHIỂN</h5>
                <ul class="nav flex-column nav-pills">
                    <!--Loai san pham-->
                    <li class="nav-item border border-top-0 border-left-0 border-right-0">
                        <a class="nav-link bg--lstDash text-info" href="#" data-toggle="collapse" data-target="#show-lstSelecCate">
                            <i class="fas fa-box-open mr-2"></i> Phân Loại <i class="fas fa-ellipsis-h float-right"></i></a>
                    </li>
                    <div class="collapse" id="show-lstSelecCate">
                        <ul class="nav flex-column">
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-loai-san-pham-add.html" class="nav-link text-info"><i class="fas fa-plus-circle ml-4 mr-2"></i> Thêm</a>
                            </li>
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-loai-san-pham-list.html" class="nav-link text-info"><i class="fas fa-list-ol ml-4 mr-2"></i> Danh sách</a>
                            </li>
                        </ul>
                    </div>
                    <!--Dong san pham-->
                    <li class="nav-item border border-top-0 border-left-0 border-right-0">
                        <a class="nav-link bg--lstDash text-info" href="#" data-toggle="collapse" data-target="#show-lstSelecStream">
                            <i class="fas fa-book mr-2"></i> Dòng Sản Phẩm <i class="fas fa-ellipsis-h float-right"></i></a>
                    </li>
                    <div class="collapse" id="show-lstSelecStream">
                        <ul class="nav flex-column">
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-dong-san-pham-add.html" class="nav-link text-info"><i class="fas fa-plus-circle ml-4 mr-2"></i> Thêm</a>
                            </li>
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-dong-san-pham-list.html" class="nav-link text-info"><i class="fas fa-list-ol ml-4 mr-2"></i> Danh sách</a>
                            </li>
                        </ul>
                    </div>
                    <!--Loai san pham-->
                    <li class="nav-item border border-top-0 border-left-0 border-right-0">
                        <a class="nav-link bg--lstDash text-info" href="#" data-toggle="collapse" data-target="#show_lstSelecType">
                            <i class="fas fa-cube mr-2"></i> Loại <i class="fas fa-ellipsis-h float-right"></i></a>
                    </li>
                    <div class="collapse" id="show_lstSelecType">
                        <ul class="nav flex-column">
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-kieu-san-pham-add.html" class="nav-link text-info"><i class="fas fa-plus-circle ml-4 mr-2"></i> Thêm</a>
                            </li>
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-kieu-san-pham-list.html" class="nav-link text-info"><i class="fas fa-list-ol ml-4 mr-2"></i> Danh sách</a>
                            </li>
                        </ul>
                    </div>
                    <!--San Pham-->
                    <li class="nav-item border border-top-0 border-left-0 border-right-0">
                        <a class="nav-link bg--lstDash text-info" href="#" data-toggle="collapse" data-target="#show-lstSelecProduct">
                            <i class="fas fa-cubes mr-2 size--20px"></i> Sản phẩm <i class="fas fa-ellipsis-h float-right"></i>
                        </a>
                    </li>
                    <div class="collapse" id="show-lstSelecProduct">
                        <ul class="nav flex-column">
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-san-pham-add.html" class="nav-link text-info"><i class="fas fa-plus-circle ml-4 mr-2"></i> Thêm</a>
                            </li>
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-san-pham-list.html" class="nav-link text-info"><i class="fas fa-list-ol ml-4 mr-2"></i> Danh sách</a>
                            </li>
                        </ul>
                    </div>
                    <!--Banner-->
                    <li class="nav-item border border-top-0 border-left-0 border-right-0">
                        <a class="nav-link bg--lstDash text-info" href="#" data-toggle="collapse" data-target="#show-lstSelecSlider">
                            <i class="fas fa-sliders-h mr-2"></i> Banner <i class="fas fa-ellipsis-h float-right"></i></a>
                    </li>
                    <div class="collapse" id="show-lstSelecSlider">
                        <ul class="nav flex-column">
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-banner-add.html" class="nav-link text-info"><i class="fas fa-plus-circle ml-4 mr-2"></i> Thêm</a>
                            </li>
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-banner-list.html" class="nav-link text-info"><i class="fas fa-list-ol ml-4 mr-2"></i> Danh sách</a>
                            </li>
                        </ul>
                    </div>
                    <!--Hoa don-->
                    <li class="nav-item border border-top-0 border-left-0 border-right-0">
                        <a class="nav-link bg--lstDash text-info" href="#" data-toggle="collapse" data-target="#show-lstSelecBill">
                            <i class="fas fa-money-bill-wave mr-2"></i> Hóa đơn <i class="fas fa-ellipsis-h float-right"></i></a>
                    </li>
                    <div class="collapse" id="show-lstSelecBill">
                        <ul class="nav flex-column">
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-bill-list.html" class="nav-link text-info"><i class="fas fa-list-ol ml-4 mr-2"></i> DS chi tiết</a>
                            </li>
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-bill-detail-list.html" class="nav-link text-info"><i class="fas fa-list-ol ml-4 mr-2"></i> DS hóa đơn</a>
                            </li>
                        </ul>
                    </div>
                    <!--Thanh vien-->
                    <li class="nav-item border border-top-0 border-left-0 border-right-0">
                        <a class="nav-link bg--lstDash text-info" href="#" data-toggle="collapse" data-target="#show-lstSelecUser">
                            <i class="fas fa-users mr-2"></i> Thành viên <i class="fas fa-ellipsis-h float-right"></i>
                        </a>
                    </li>
                    <div class="collapse" id="show-lstSelecUser">
                        <ul class="nav flex-column">
                            <li class="nav-item border border-top-0 border-left-0 border-right-0">
                                <a href="admin-list-user.html" class="nav-link text-info"><i class="fas fa-list-ol ml-4 mr-2"></i> Danh sách</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="col-md-10 bg bg-light">
                <h2 class="mb-5">Sản phẩm  <small>danh sách</small></h2>

                <br>
                <table class="table table-bordered table-striped text-center table-fluid" id="myTable">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Phân loại</th>
                        <th>Dòng sản phẩm</th>
                        <th>Style</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Giá niêm yết</th>
                        <th>Giá khuyến mãi</th>
                        <th>Trạng thái</th>
                        <th>Xem</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody  >
                    <tr>
                        <td>1</td>
                        <td>Giày</td>
                        <td>Basas</td>
                        <td>High Top</td>
                        <td>A45129</td>
                        <td>Basas Bumper Gum-Hight Top</td>
                        <td><img src="../../images/products/imageTest/stu_basas_A61023_1-500x500.jpg" class="imageProduct"  alt=""></td>
                        <td>790.000</td>
                        <td>590.000</td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href="../chi-tiet-san-pham.html"><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href="admin-san-pham-edit.html"><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Giày</td>
                        <td>Basas</td>
                        <td>Low Top</td>
                        <td>A32110</td>
                        <td>Basas Momo Black-Low Top</td>
                        <td><img  src="../../images/products/imageTest/stu_basas_A61024_1-500x500.jpg" class="imageProduct" alt=""></td>
                        <td>590.000 </td>
                        <td>490.000 </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Giày</td>
                        <td>Basas</td>
                        <td>Slip On</td>
                        <td>A61082</td>
                        <td>Basas New Simple Life-Slip On</td>
                        <td><img src="../../images/products/pro_basas_A61082_1.jpg" class="imageProduct" alt=""></td>
                        <td>175.000</td>
                        <td>250.000</td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>Giày</td>
                        <td>Vintas</td>
                        <td>High Top</td>
                        <td>A61101</td>
                        <td>Vintas Mister-High Top-Chocolate Brown</td>
                        <td><img src="../../images/products/pro_A61101_1_1.jpg" class="imageProduct" alt=""></td>
                        <td>610.000</td>
                        <td>610.000</td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>Giày</td>
                        <td>Vintas</td>
                        <td>Low Top</td>
                        <td>A61035</td>
                        <td>Vintas Yesterday-Low Top-MoonStruck Pirate</td>
                        <td><img src="../../images/products/pro_vintas_A61035_1-1.jpg" class="imageProduct" alt=""></td>
                        <td>480.000</td>
                        <td>400.000</td>
                        <td><i class="fas fa-ban text-danger s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>Giày</td>
                        <td> Urbas</td>
                        <td>High Top</td>
                        <td>A61107</td>
                        <td>Urbas Unsettling-High Top-Insiniga</td>
                        <td><img src="../../images/products/pro_A61107_1.jpg" class="imageProduct" alt=""></td>
                        <td>550.000 </td>
                        <td>500.000 </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Giày</td>
                        <td> Urbas</td>
                        <td>Low Top</td>
                        <td>A61085
                        </td>
                        <td>Urbas Inversion - Low Top - C - Navy Blue
                        </td>
                        <td><img src="../../images/products/pro_vintas_A61031_1.jpg" class="imageProduct" alt=""></td>
                        <td>420,000
                        </td>
                        <td>320,000
                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Giày</td>
                        <td> Urbas</td>
                        <td>Low Top</td>
                        <td>A61085
                        </td>
                        <td>Urbas Inversion - Low Top - N - Gold Flame
                        </td>
                        <td><img src="../../images/products/pro_A61085_1.jpg" class="imageProduct" alt=""></td>
                        <td>320.000
                        </td>
                        <td>420.000

                        </td>
                        <td><i class="fas fa-ban text-danger s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Giày</td>
                        <td>Urbas</td>
                        <td>Low Top</td>
                        <td>A61059
                        </td>
                        <td>Urbas Inversion - Low Top - N - Gold Flame
                        </td>
                        <td><img src="../../images/products/A60026_1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>320.000
                        </td>
                        <td>420.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Giày</td>
                        <td>Pattas</td>
                        <td>High Top</td>
                        <td>A61095
                        </td>
                        <td>Ananas X Lucky Luke Pattas - High Top - Dalton Yellow
                        </td>
                        <td><img src="../../images/products/pro_A61095_1.jpg" class="imageProduct" alt=""></td>
                        <td>850.000
                        </td>
                        <td>800.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Thời Trang</td>
                        <td>Basic Tee</td>
                        <td></td>
                        <td>ABT00013
                        </td>
                        <td>Basic Tee - Ananas Typo - Black
                        </td>
                        <td><img src="../../images/products/pro_basictee_ABT00013_1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>249.000
                        </td>
                        <td>249.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>

                    <tr>
                        <td>12</td>
                        <td>Thời Trang</td>
                        <td>Basic Tee</td>
                        <td></td>
                        <td>ABT000012
                        </td>
                        <td>Basic Tee - Ananas Cropped Symbol - Gray Violet
                        </td>
                        <td><img src="../../images/products/pro_basictee_ABT00012_1-1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>320.000
                        </td>
                        <td>220.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Thời Trang</td>
                        <td>Basic Tee</td>
                        <td></td>
                        <td>ABT000011
                        </td>
                        <td>BBasic Tee - Ananas Cropped Symbol - Old Gold
                        </td>
                        <td><img src="../../images/products/pro_basictee_ABT00011_1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>269.000
                        </td>
                        <td>220.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Thời Trang</td>
                        <td>Graphic Tee</td>
                        <td></td>
                        <td>AGT0003
                        </td>
                        <td>Hiphop Graphic Tee - Discover Ananas - Ermine
                        </td>
                        <td><img src="../../images/products/pro_AGT0003_2-1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>350.000
                        </td>
                        <td>350.000

                        </td>
                        <td><i class="fas fa-ban text-danger s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Thời Trang</td>
                        <td>Graphic Tee</td>
                        <td></td>
                        <td>AGT0002
                        </td>
                        <td>Hiphop Graphic Tee - Discover Ananas - Ketchup
                        </td>
                        <td><img src="../../images/products/AGT0002_1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>365.000
                        </td>
                        <td>300.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Thời Trang</td>
                        <td>Sweatshirt</td>
                        <td></td>
                        <td>ASW1004
                        </td>
                        <td>Lucky Luke Typo - Sweatshirt - Storm
                        </td>
                        <td><img src="../../images/products/pro_ASW1004_1_1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>480.000
                        </td>
                        <td>420.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Thời Trang</td>
                        <td>Sweatshirt</td>
                        <td></td>
                        <td>ASW1005
                        </td>
                        <td>Cactus LL Symbol Sweatshirt - Golden Orange
                        </td>
                        <td><img src="../../images/products/pro_ASW1005_3-1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>500.000
                        </td>
                        <td>500.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Phụ kiện</td>
                        <td>Vớ</td>
                        <td></td>
                        <td>ANS013
                        </td>
                        <td>Invisible Socks Pack - Ananas Typo - yellow
                        </td>
                        <td><img src="../../images/products/pro_ANS013_1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>90.000
                        </td>
                        <td>85.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Phụ kiện</td>
                        <td>Vớ</td>
                        <td></td>
                        <td>ANS025
                        </td>
                        <td>Invisible Socks Pack - Discoveryou- Grey
                        </td>
                        <td><img src="../../images/products/pro_ANS025_1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>95.000
                        </td>
                        <td>90.000

                        </td>
                        <td><i class="fas fa-ban text-danger s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Phụ kiện</td>
                        <td>Vớ</td>
                        <td></td>
                        <td>ASW1005
                        </td>
                        <td>Invisible Socks Pack - Ananas Typo - white
                        </td>
                        <td><img src="../../images/products/pro_ANS011_1.jpg
                            " class="imageProduct" alt=""></td>
                        <td>95.000
                        </td>
                        <td>85.000

                        </td>
                        <td><i class="fas fa-check text-success s-25"></i></td>
                        <td><a href=""><i class="far fa-eye s-25 text-secondary" title="Xem chi tiết"></i></a></td>
                        <td><a href=""><i class="fas fa-pencil-alt s-25" title="sửa"></i></a></td>
                        <td><a href=""><i class="fas fa-trash-alt s-25 text-danger" title="xóa"></i></a></td>
                    </tr>





                    </tbody>
                </table>
            </div>

            </div>
        </div>

</section>


<!--footer-->
<footer>
    <div class="container">
        <div class="d-flex">
            <div class="col-md-3">
                <div class="store d-flex">
                    <img src="../../images/Store.png" alt="">
                    <a href="#" class="storeBtn btn">TÌM CỬA HÀNG</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="content-foot">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="menu-bot">
                                <li class="head">
                                    SẢN PHẨM
                                </li>
                                <li><a href="#">Giày Nam</a></li>
                                <li><a href="#">Giày Nữ</a></li>
                                <li><a href="#">Thời trang & Phụ kiện</a></li>
                                <li><a href="#">Sale off</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="menu-bot">
                                <li class="head">
                                    VỀ CÔNG TY
                                </li>
                                <li><a href="#">Dứa tuyển dụng</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <li><a href="#">Về Ananas</a></li>

                            </ul>
                        </div>
                        <div class="col-md-3">
                            <div class="menu-bot">
                                <div class="head">
                                    ANANAS SOCIAL
                                </div>
                                <div class="d-flex ">
                                    <a href="#" class="socialIcon">
                                        <img src="../../images/icon_social1.png" alt="">
                                    </a>
                                    <a href="#" class="socialIcon">
                                        <img src="../../images/icon_social2.png" alt="">
                                    </a>
                                    <a href="#" class="socialIcon">
                                        <img src="../../images/icon_social3.png" alt="">
                                    </a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <ul class="menu-bot">
                                <li class="head">
                                    THÀNH VIÊN
                                </li>
                                <li>Trần Thu An </li>
                                <li>Từ Phước Thiện</li>
                                <li>Nguyễn Lê Văn Tiến</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../../images/Logo_Ananas_Footer.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <p>
                                Copy
                                <i class="fa fa-copyright" aria-hidden="true"></i>
                                2020 Ananas. All rights reserved
                            </p>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</footer>
<script>
    $(document).ready( function () {
        $('#myTable').DataTable();
    } );
</script>

</body>
</html>
